body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 85vw;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    grid-column: 1 / 2;
    overflow-y: auto;
    height: 100vh;
}

#weeks {
    padding: 3rem 2rem;
}

.week {
    text-align: center;
    border: 2px solid black;
    border-radius: 18px;
    margin: 0.25rem;
    padding: 1.25rem;

    font-size: 1.25em;
    font-weight: 700;
}

.week:hover {
    cursor: pointer;
}

#main {
    grid-column: 2 / 3;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#week-overview {
    font-size: 1.5em;
    width: 80%;
    height: 60%;
}

#table {
    margin-top: 2em;
    border-collapse:separate;
    border: 1px solid black;
    background: transparent;
    border-radius: 18px;
    border-spacing: 0;
    overflow: hidden;
}

tr {
    height: 4rem;
    background: transparent;
}


th {
    width: 10%;
    border: 1px solid black;
    background: white;
}

td {
    border: 1px solid black;
    text-align: center;
    background: white;
    padding: 0;
    height: 100%;
}

table input[type="number"] {
    width: 95%;
    border: none;
    font-size: 1.25em;
    padding: 1rem 0;
    text-align: center;
}

table input[type="number"]:focus {
    outline: none;
}

.counts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border: 2px solid black;
    height: 15%;
    padding: .5em 1em;
    border-radius: 18px;
    font-size: 1.25em;
}

.counts > * {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.counts input {
    width: 40%;
    height: 80%;
    margin-left: auto;
    text-align: center;
    font-size: 80%;
    border-radius: 18px;

    -moz-appearance: textfield;
}

.text {
    text-align: center;
    font-size: 2em;
    margin-top: 2.25em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
